<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"></head>
 <main id="main" class="main" layout:fragment="corpo">
     <div class="row">
          <div class="col-lg-12">
  <!--           <h3 class="page-header"><i class="fa fa fa-bars"></i> Pages</h3>  -->
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="home.html">Home </a></li>
              <li><i class="fa fa-bars"></i>Conta </li>
              <li><i class="fa fa-square-o"></i>Listar </li>
            </ol>
          </div>
     </div>		
	<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Orçamento</span>
					</li>
				</ul>
			</div>
			<a id="btnadd" class="btn btn-primary btn-md" rel="modal:open" th:href="@{/conta/cadastrar}" role="button"> 
			 	<span 	class="oi oi-plus" title="Cadastro" aria-hidden="true"></span> 
			 	<span>Edit orçamento</span>
			</a>
	</nav>
	
<!-- --------------------------------------- alerta ---------------------------------------------------->				
			<div class="alert alert-dismissible  fade show" style="display: none;" 	role="alert">
				<strong>Alerta!</strong>
				<p>Favor verificar o suporte.</p>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>
<!-------------------------------------------------- Lista ------------------------------------------------>	
  	<div class="row">
			<div class="card">
				<div class="table-responsive">				
						<table class="table table-bordered  table-striped table-hover  dataTable table-sm"> 
							<thead>
								<tr>
						 			<th pages:sort="apelido">Categoria</th>
									<th pages:sort="valor01">Janeiro</th>
									<th pages:sort="valor02">Fevereiro</th>
									<th pages:sort="valor03">Março</th>
									<th pages:sort="valor04">Abril</th>
									<th pages:sort="valor05">Junho</th>
									<th pages:sort="valor06">Julho</th>
									<th pages:sort="valor07">Agosto</th>
									<th pages:sort="valor08">Setembro</th>
									<th pages:sort="valor09">Outubro</th>
									<th pages:sort="valor10">Novembro</th>
									<th pages:sort="valor11">Dezembro</th>
									<th pages:sort="valor12">Total</th>								
								</tr>
								</thead>
							 	  <tbody id="tab" th:remove="all-but-first">>
									 <tr th:each="o : ${orcamentoDTO}">
										<td th:text="${o.descricao}">categoria</td>
										<td style='text-align: right;' contenteditable='true'  th:text="${o?.orcamentoMes?.valor01}">valor</td>
										<td contenteditable='true' th:text="${o?.orcamentoMes?.valor02}">valor</td>
										<td contenteditable='true' th:text="${o?.orcamentoMes?.valor03}">valor</td>
										<td th:text="${o?.orcamentoMes?.valor04}">valor</td>
										<td th:text="${o?.orcamentoMes?.valor05}">valor</td>
										<td th:text="${o?.orcamentoMes?.valor06}">valor</td>
										<td th:text="${o?.orcamentoMes?.valor07}">valor</td>
										<td th:text="${o?.orcamentoMes?.valor08}">valor</td>
										<td th:text="${o?.orcamentoMes?.valor09}">valor</td>
										<td th:text="${o?.orcamentoMes?.valor10}">valor</td>
										<td th:text="${o?.orcamentoMes?.valor11}">valor</td>
										<td th:text="${o?.orcamentoMes?.valor12}">valor</td>
										<td th:text="${o?.orcamentoMes?.total}">valor</td>
									</tr>
								</tbody>
						</table>
				 	</div>							
			</div>
		</div>
<script>
	var myRows = [];
//loop through tr
$('table tbody tr').each(function() {
  var obj = {} //create obj
  //add value to it
  obj["id"] = $(this).find("td:eq(0)").text();
  obj["name"] = $(this).find("td:eq(1) input").val();
  obj["label"] = $(this).find("td:eq(2) input").val();
  myRows.push(obj) //push obj to array
});
console.log(JSON.stringify(myRows));
</script>
		
	</main>  

</html>