<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>

<!-------------------------------------------main content start ---------------------->
<main id="main" class="main" layout:fragment="corpo">

	<!-------------------------------------------------- Lista ---------------------------------------------------------->

	<div th:insert="fragments/navbar :: navbar('Favorecido',true)"></div>

	<!-------------------------------------------------- alerta ------------------------------------------------------------>

	<div th:replace="~{fragments/alert}"></div>

	<!-------------------------------------------------- Lista ------------------------------------------------------------>
	<div class="Containner">
		<div class="row">
			<div class="card">
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-hover ">
						<thead class="thead-light">
							<div class="row">
								<tr>
									<th><i class="icon_profile"></i> Nome</th>
									<th><i class="money-check-alt"></i> Conta</th>
									<th><i class="money-check-alt"></i> Categoria</th>
									<th><i class="icon_cogs"></i> Ação</th>
								</tr>
						</thead>
						<tbody>

							<tr th:each="f : ${favorecidodto}">
								<td th:text="${f.nome}">nome</td>
								<td th:text="${f?.conta?.apelido}">nome</td>
								<td th:text="${f?.subCategoria?.descricao}">categoria</td>
								<td colspan="2" align="center"><a id="btn_editar"
									th:href="@{/favorecido/editar/{id} (id=${f.id}) }"
									title="Editar" class="fa-regular fa-pen-to-square icon-dark"></a>
									<a id="btn_deletar"
									th:href="@{/favorecido/excluir/{id} (id=${f.id}) }"
									title="Excluir"
									class="fa-regular fa-trash-can icon-dark btn-delete"></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
</main>
</html>