<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"></head>
  
     
<main id="main" class="main" layout:fragment="corpo">
   
   <section class="layout-content" >
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Cadastrar Lançamento</span>
	                    </li>
	                </ul>
	            </div>
	            <a class="btn btn-primary btn-md" th:href="@{/lancamento/listar}" role="button">
	                <span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
	                <span>Listar Lançamento</span>
	            </a>
	        </nav>
	
    <div class="container" id="cadastro">
		
    <div class="col-lg-6 bg-light">
	 <div class="card">
		 <div class="card-body">
			 <h5 class="card-title">Lançamento Debito</h5>
			<div th:replace="~{fragments/alert}"></div>	 
		
	    	<form id="editForm"  th:object="${lancamentoDTO}"  th:action="@{/lancamento}"  method="POST" class="row g-3 needs-validation">				

			  <div th:replace="~{fragments/forms::inputRow(object='lancamentoDTO', field='dataDoc', type='date', rowClass='col-md-6')}" />     

			  <div th:replace="~{fragments/forms::inputRow(object='lancamentoDTO', field='contaLancamento', type='select',required='required',options= ${contas},readOnly='readOnly',rowClass='col-md-6')}" /> 


			       					  		   	

			  <div th:replace="~{fragments/forms::inputRow(object='lancamentoDTO', field='favorecido', type='select',options= ${favorecidos},rowClass='col-md-12')}" /> 

			  <div th:replace="~{fragments/forms::inputRow(object='lancamentoDTO', field='subCategoria', type='select',options= ${subCategoriasDebito},rowClass='col-md-12')}" /> 
			   
			  
			  <div th:replace="~{fragments/forms::inputRow(object='lancamentoDTO', field='total', type='moeda', rowClass='col-md-12')}" />
			  
			 
			  <div th:replace="~{fragments/forms::inputRow(object='lancamentoDTO', field='informacao',  rowClass='col-md-12')}" />  
			  
       
             <div th:replace="~{fragments/forms::inputRow(object='lancamentoDTO', field='conciliado', type='checkbox',inputClass='form-check-input',rowClass='col-md-6 ')}" />
   
   		  <div th:replace="~{fragments/forms::inputRow(object='lancamentoDTO', field='dataPgto', type='date', inputClassappend='col-form-label', rowClass='col-md-6')}" />
   		  <div th:replace="~{fragments/forms::inputRow(object='lancamentoDTO', field='valorPgto', type='moeda', inputClassappend='col-form-label', rowClass='col-md-6')}" />
             
		        
		        <input type="hidden" id="tipoOperacao" th:field="*{tipoOperacao}" th:value='DB'/>               
            	  
   						<input type="hidden" id="lancamentoId" th:field="*{lancamentoId}"/>   		
   						<input type="hidden" id="detalheLancamentoId" th:field="*{detalheLancamentoId}"/>   				
	        	        <input type="hidden" id="lancAuxId" th:field="*{idLancAux}"/>
	        	        <input type="hidden" id="id" th:field="*{id}"/>
    				    
     		<div class="text-center">	   		
	        	<button type="submit" id="btnSalvar" class="btn btn-primary"  >Salvar</button>
				 <a  th:href="@{/lancamento/listar}" class="btn btn-secondary">Voltar</a>
	        </div>    				         	                
	     </form>
</div>
</div>
</div>
</div>
<!-- SEU CÓDIGO JAVASCRIPT COMEÇA AQUI -->
<script>
// Garante que o código só será executado depois que o documento HTML estiver completamente carregado.
/*$(document).ready(function() {

    // Função para verificar o estado do checkbox e mostrar/esconder o campo de data
    function toggleDataPgto() {
        // Verifica se o checkbox 'conciliado' está marcado    
    	if ($('#input_conciliado').is(':checked')) {		
	        $('#input_datapgto').prop("readonly", false) // Mostra com animação	        
			$('#input_datapgto').attr('required', true);
			$('#input_valorpgto').prop("readonly", false) // Mostra com animação	        
			$('#input_valorpgto').attr('required', true);
    	} else {
        	$('#input_datapgto').prop("readonly", true); // Esconde com animação        	
			$('#input_datapgto').attr('required', false);
			$('#input_valorpgto').prop("readonly", true) // Mostra com animação	        
			$('#input_valorpgto').attr('required', false);

    	}
    }

    // 1. Executa a função assim que a página carrega para definir o estado inicial correto
    toggleDataPgto();

    // 2. Adiciona um "ouvinte" para o evento 'change' no checkbox
    //    Isso vai disparar a função toda vez que o checkbox for marcado ou desmarcado
    $('#input_conciliado').on('change', function() {
		toggleDataPgto();
		if ($(this).is(':checked')) {
            // FOI MARCADO: agora sim, alteramos a data e mostramos o campo.
            
            // Cria a data de hoje no formato AAAA-MM-DD
//            const hoje = new Date();
//            const ano = hoje.getFullYear();
//            const mes = String(hoje.getMonth() + 1).padStart(2, '0');
//            const dia = String(hoje.getDate()).padStart(2, '0');
//            const dataFormatada = `${ano}-${mes}-${dia}`;

            // Atualiza o valor do campo de data
            var data = $('#input_datadoc').val();
            var total = $('#input_total').val();

            $('#input_datapgto').val(data);
            $('#input_valorpgto').val(total);
        }
        else {
            $('#input_datapgto').val('');
            $('#input_valorpgto').val(0);			
		};   
 
    });

});
**/
</script>
  <script th:src="@{/js/cadastro.js}"></script>
  <script th:src="@{/js/conciliacao.js}"></script>
 <script th:src="@{/js/filtro-select.js}"></script>
 </section>
	</main>
 
</html>