<div id="div-categoria" th:fragment="categoria">
<table class="table table-striped table-advance table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th><i class="icon_profile"></i> Categoria</th>
			<th><i class="money-check-alt"></i> Débito/Credito</th>
			<th><i class="icon_cogs"></i> Ação</th>
		</tr>
	</thead>
	<div th:switch="${categoriaDTO}">
		<h2 th:case="null">Nenhuma categoria foi encontrada</h2>
		<div th:case="*">
			<tbody>
				<tr th:each="c : ${categoriaDTO}">
					<td th:text="${c.id}">1</td>
					<td th:text="${c.descricao}">Auxiliar Contábil</td>
					<td th:text="${c.tipoLancamento.getDescricao()}">Auxiliar
						Contábil</td>
					<td colspan="3">
						<a th:if="${c.tipoCategoria == 'CT'}" class="btn btn-info btn-sm btnsubCatergoria"
							th:href="@{/categoria/subcategoria/cadastar/{id} (id=${c.id}) }" role="button"> 
							<span class="oi oi-plus" title="Adicionar SubCategoria" aria-hidden="true"></span> 
						</a> 
					   <a th:if="${c.tipoCategoria == 'SC'}" class="btn btn-info btn-sm btnSubCatergoria"
						  th:href="@{/categoria/subcategoria/cadastrar/{id} (id=${c.idCategoria}) }" role="button"> 
						  <span class="oi oi-calculator" title="Lançamento" aria-hidden="true"></span>
					   </a> 
					  <a class="btn btn-info btn-sm btnEditar" id="btn_editar" 	
					     th:href="@{/categoria/editar/{id} (id=${c.id}) }" 	role="button"> 
					     <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
					  </a>
					  <a th:if="${c.tipoCategoria == 'CT'}" class="btn btn-danger btn-sm" id="btn_deletar" 	th:href="@{/categoria/{id} (id=${c.id}) }"> 
						 <span class="oi oi-circle-x" title="Exclusão" aria-hidden="true"></span>
				 	  </a>
					  <a th:if="${c.tipoCategoria == 'SC'}" class="btn btn-danger btn-sm" id="btn_deletar" 
					     th:href="@{/categoria/{id}/subcategoria/cadastrar/{id2} (id=${c.idCategoria}, id2=${c.id}) }"> 
					     <span class="oi oi-circle-x" title="Exclusão" aria-hidden="true"></span>
					  </a>								
					</td>						
			</tbody>
		</div>
	</div>
</table>

</div>