 <div class="modal-header">
	<h4 class="modal-title" id="modalTitilo">Cadastro de Contas</h4>
	<button type="button" class="btn-close" data-bs-dismiss="modal"
		aria-label="Close"></button>
</div>
<div class="row">
	<div class="modal-body">
		<div class="card">
        	 <div class="card-body">
	           	<form id="editForm" th:object="${conta}" class="row g-3 needs-validation"   method="POST">
				    <div class="col-md-12">
        	          <label for="validationCustom01" class="form-label">Tipo de Conta</label>
            		      	<select id="id_tipoConta" class="form-control" th:field="*{tipoConta}" autofocus="autofocus" required>       
	               				<option th:each="tipoConta : ${T(br.com.fenix.dominio.enumerado.TipoConta).values()}" 
        							th:value="${tipoConta}" th:text="${tipoConta.descricao}">
        						</option>
        					 </select>	
                  		<div class="valid-feedback">
                    		 Ok!
                  		</div>
                	</div>
                	<div th:replace="~{fragments/forms::inputRow(object='conta', field='apelido')}" />
	                <div class="col-md-12">
    	              	<label for="validationCustom01" class="form-label">Apelido</label>
					  	<input type="text" class="form-control" id="apelido" placeholder="apelido" 
	        	                		 th:field="*{apelido}" required />                  
	            	   <div class="invalid-feedback">
	                    Por favor, Inserir o apelido da conta!
    	              </div>
               		</div>
	            <div class="col-md-6">
                  	<label for="validationCustom01" class="form-label">Instituição</label>
				    <input type="text" class="form-control" id="instituicao" placeholder="instituição bancaria" 
	                        		 th:field="*{instituicao}" required/>               
	                 <div class="valid-feedback">
                    	 Ok!
                  	</div>
                </div>
	            <div class="col-md-6">
                  	<label for="validationCustom01" class="form-label">Agência</label>
					<input type="text" class="form-control" id="agencia" placeholder="agência" 
	                        		 th:field="*{agencia}" />          
	                 <div class="valid-feedback">
                    	 Ok!
                  	</div>
                </div>
	            <div class="col-md-6">
                  	<label for="validationCustom01" class="form-label">Número Conta/Cartão</label>
					  <input type="text" class="form-control" id="numero" placeholder="Número do cartão de credito" 
	                        		 th:field="*{numero}"/>         
	                 <div class="valid-feedback">
                    	 Ok!
                  	</div>
              	 </div>
	    		 <div class="col-md-6">
        	          <label for="validationCustom01" class="form-label">Dia Vencimento Cartão</label>
        	          <select id="id_diaVencimento" class="form-control" th:field="*{diaVencimento}"  />
        	          		 <option value="null" selected hidden >- Selecione -</option>
    						 <option th:each="i : ${#numbers.sequence(1, 31)}" th:value="${i}" th:text="${i}" 
    						 		 th:selected="${i}==*{diaVencimento}"></option>
					  </select>
                  		<div class="valid-feedback">
                    		 Ok!
                  		</div>
                </div>    
                <div class="col-md-6">
        	          <label for="validationCustom01" class="form-label">Melhor Dia Compra Cartão</label>
        	          <select id="id_diaVencimento" class="form-control" th:field="*{diaComp}"  />
        	          		 <option value="null" selected hidden >- Selecione -</option>
    						 <option th:each="i : ${#numbers.sequence(1, 31)}" th:value="${i}" th:text="${i}"
    						  th:selected="${i}==*{diaComp}"></option>
					  </select>
                  		<div class="valid-feedback">
                    		 Ok!
                  		</div>
                </div>              	
              
                <div class="col-md-6">
                  	<label for="validationCustom01" class="form-label">Valor</label>
					  <input type="text" class="form-control" id="valor" placeholder="Saldo inicial da conta" 
	                        		 th:field="*{saldo}"/>     
	                 <div class="valid-feedback">
                    	 Ok!
                  	</div>
                </div>
	          <div class="col-md-6">
				    <div th:replace="~{fragments/forms::inputRow(object='conta', field='moeda', type='select',required='required',options= ${moedas})}" />
				    
	          	</div>	
	            <div th:replace="~{fragments/forms::inputRow(object='conta', field='inativo', type='checkbox')}" />
       
         	    <div class="col-md-12">
	                <input type="hidden" id="id" th:field="*{id}"/>
         	    </div>
	   			<input type="hidden" id="versao" th:field="*{versao}" />	
	         </form>
		</div>
	</div>
</div>
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" id="btnSalvar" class="btn btn-primary" th:href="@{/conta}" >Salvar</button>
</div>
