<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"></head>
<script>   

    $(document).ready(function(){
        $('#saldo').mask('000.000.000,00', {reverse: true});
    });
</script>
<main id="main" class="main" layout:fragment="corpo">
<div class="row">
	  <form id="CadastroForm" th:object="${conta}" th:action="@{/conta}"  class="row g-3 needs-validation"   method="POST">
				    <div class="col-md-12">
        	          <label for="validationCustom01" class="form-label">Tipo de Conta</label>
            		      	<select id="id_tipoConta" class="form-control" th:field="*{tipoConta}" autofocus="autofocus" required>       
	               				<option th:each="tipoConta : ${T(br.com.fenix.dominio.enumerado.TipoConta).values()}" 
        							th:value="${tipoConta}" th:text="${tipoConta.descricao}">
        						</option>
        					 </select>	
                  		<div class="valid-feedback">
                    		 Ok!
                  		</div>
                	</div>
                	<div th:replace="~{fragments/forms::inputRow(object='conta', field='apelido',  required='false',rowClass='col-md-12')}" />
                	 
                	<div th:replace="~{fragments/forms::inputRow(object='conta', field='instituicao', required='true',rowClass='col-md-6')}" />

                	<div th:replace="~{fragments/forms::inputRow(object='conta', field='agencia', required='false',rowClass='col-md-6')}" />

                	<div th:replace="~{fragments/forms::inputRow(object='conta', field='numero', required='false',rowClass='col-md-12')}" />

					<div th:replace="~{fragments/forms::inputRow(object='conta', field='diaVencimento', required='false',rowClass='col-md-6')}" />
	
					<div th:replace="~{fragments/forms::inputRow(object='conta', field='diaComp', type='cep',required='false',rowClass='col-md-6')}" />
                	
                	<div th:replace="~{fragments/forms::inputRow(object='conta', field='saldo', type='moeda',required='true',rowClass='col-md-6')}" />
           
              
              
			    <div th:replace="~{fragments/forms::inputRow(object='conta', field='moeda', type='select',required='true',rowClass='col-md-6',options= ${moedas})}" />
	          	 
                 <div class="row"> 	
		             <div class="col-md-12">
				         <input class="form-check-input" type="checkbox" value="" id="id_inativo"  th:field="*{inativo}" >
            		     <label class="form-check-label" for="invalidCheck">Inativo</label>				
                	</div>
                 </div>
         	    <div class="col-md-12">
	                <input type="hidden" id="id" th:field="*{id}"/>
         	    </div>
	   			<input type="hidden" id="versao" th:field="*{versao}" />	
	   			<div class="row">
      			  	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        			<button type="submit" id="btnSalvar" class="btn btn-primary"  >Salvar</button>
				</div>
	         </form>
</div>

	</main>  
</html>
