<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"></head>

<main id="main" class="main" layout:fragment="corpo">
	<section class="section">
    <div class="col-lg-6 bg-light">
	 <div class="card">
		 <div class="card-body">
			 <h5 class="card-title">Cadastro de Conta</h5>
			<div th:replace="fragments/alert"></div>	 
		
   		<form id="CadastroForm" th:object="${conta}" th:action="@{/conta}"  class="row g-3 needs-validation"   method="POST">  		
	   		<div th:replace="~{fragments/forms::inputRow(object='conta', field='tipoConta', type='select',required='required',options= ${tipoConta},readOnly='readOnly',rowClass='col-md-12')}" />
		   	<div th:replace="~{fragments/forms::inputRow(object='conta', field='apelido',  rowClass='col-md-12')}" />               	 
	      	<div th:replace="~{fragments/forms::inputRow(object='conta', field='instituicao', required='true',rowClass='col-md-4')}" />
			<div th:replace="~{fragments/forms::inputRow(object='conta', field='agencia', rowClass='col-md-4')}" />
			<div th:replace="~{fragments/forms::inputRow(object='conta', field='numero', rowClass='col-md-4')}" />
			<div th:replace="~{fragments/forms :: inputRow (object='conta',field='diaVencimento', type='select',required='false',rowClass='col-md-6',options= ${diaMes})}"></div>
			<div th:replace="~{fragments/forms :: inputRow (object='conta',field='diaComp', type='select',required='false',rowClass='col-md-6',options= ${diaMes})}"></div>
			<div th:replace="~{fragments/forms::inputRow(object='conta', field='saldo',type='moeda',required='true',rowClass='col-md-6')}" />
			<div th:replace="~{fragments/forms::inputRow(object='conta', field='moeda', type='select',required='required',options= ${moedas},readOnly='readOnly',rowClass='col-md-6')}" />
			<div th:replace="~{fragments/forms::inputRow(object='conta', field='inativo', type='checkbox',rowClass='col-md-6')}" />      
			<input type="hidden" id="id" th:field="*{id}"/>
	        <input type="hidden" id="versao" th:field="*{versao}" />	
	         <div class="text-center">	   		
	        	<button type="submit" id="btnSalvar" class="btn btn-primary"  >Salvar</button>
	        	<button type="reset" class="btn btn-secondary">Reset</button>
	          </div>	  		
    </form>
    
</div>
</div>
</div>
	<script>
		   jQuery(function() {
			    	jQuery('form').bind('submit', function() {
		        	jQuery(this).find(':disabled').removeAttr('disabled');
    				});
    		});
	</script> 
 </section>
	</main>
 
</html>
