<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"></head>
<main id="main" class="main" layout:fragment="corpo">
     <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="home.html"> Home </a></li>
              <li>  <i class="fa fa-bars"></i> Listar Contas </li>
            </ol>
          </div>
     </div>		
	<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Lista de Contas</span>
					</li>
				</ul>
			</div>
			<a id="btnadd" class="btn btn-primary btn-md" rel="modal:open" th:href="@{/conta/cadastrar}" role="button"> 
			 	<span 	class="oi oi-plus" title="Cadastro" aria-hidden="true"></span> 
			 	<span>Nova Conta</span>
			</a>
	</nav>
	
		

			<div th:replace="~{fragments/alert}"></div>
<!-------------------------------------------------- Lista ------------------------------------------------>	
	  	<div class="Containner">
	  	<div class="row">
				<div class="card">
					<div class="table-responsive" >				
							<table class="table table-bordered table-striped table-hover ">
								<thead class="thead-light">
									<tr>
							 			<th pages:sort="apelido">Apelido Conta</th>
										<th pages:sort="tipoConta.descricao">Tipo</th>
										<th pages:sort="instituicao">Instituição</th>
										<th pages:sort="agencia">Agência</th>
										<th pages:sort="numero">Número</th>
										<th align-text="center">Dia do Venc.</th>
										<th align-text="center">Melhor Dia Compra</th>
										<th pages:sort="moedas?.codigo">Moeda</th>
										<th pages:sort="saldo">Saldo</th>
										<th pages:sort="inativo">Inativo</th>
										<th><i class="icon_cogs"></i> Ação</th>
									</tr>
									</thead>
								 	  <tbody th:remove="all-but-first">
										 <tr th:each="c : ${conta}">
											<td th:text="${c.apelido}"> </td>
											<td th:text="${c?.tipoConta?.descricao}">Auxiliar Contábil</td>
											<td th:text="${c.instituicao}">Contabilidade</td>
											<td align="right"  th:text="${c.agencia}">Contabilidade</td>
											<td align="right" th:text="${c.numero}">Numero Conta</td>
											<td align="center" th:text="${c.diaVencimento}">Dia Vencimento</td>
											<td align="center" th:text="${c.diaComp}">Dia compra</td>
											<td align="center" th:text="${c?.moeda?.codigo}">Moeda</td>
											<td align="right" id="saldo" th:text="|R$ ${{c.saldo}}|">saldo</td>
											<td align="center">
												<a th:if="${c.inativo == true}" class="fa-regular fa-square-check" title="Conta inativa"></a>
  												<a th:if="${c.inativo == false}" class="fa-regular fa-square" style="color: #ced6de" title="Conta ativa"></a>											
											</td>
																
											<td colspan="2" align="center">
												 <a id="btn_editar" th:href="@{/conta/editar/{id} (id=${c.id}) }" title="Editar"	 
												    class="fa-regular fa-pen-to-square icon-dark"></a>           
          										 <a id="btn_deletar" th:href="@{/conta/deletar/{id} (id=${c.id}) }" title="Excluir"          										     
            										class="fa-regular fa-trash-can icon-dark btn-delete"></a>
        									</td>								
										</tr>
									</tbody>
							</table>
					 	</div>							
				</div>
		</div>
</div>		
<script>
   $(document).ready(function() 
	{
		 
		 	 $(document).delegate('#btn_deletar','click',function(event) 
	 	 		{
	 				event.preventDefault();
//	 				$("#deleteModal .modal-header .modal-title").text("Excluir Favorecido");
	 				$("#deleteModal #btnExcluirModal").attr('href', $(this).attr("href"));
	 				$("#deleteModal").modal("show");
	 			});
			 $(document).delegate('#btnExcluirModal','click',function(event)
			 { 
	 				event.preventDefault();
//	 				$("#deleteModal .modal-header .modal-title").text("Excluir Favorecido");	 				
	 				$("#deleteModal").modal("hide");
//	 				document.location.href = $("#btnExcluirModal").attr('href');
	 				 location.reload();
	 			});
	 	})
</script>	 			
	</main>  
</html>