<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="inputRow(object, field)" 
        	 th:with="type=${type} ?: 'text', required=${required},
                rowClass=${rowClass},
                inputClassappend=${#fields.hasErrors(field) ? 'is-invalid ' : ''} + ${inputClass ?: ''}"
                th:object="${__${object}__}"   
                th:classappend="${rowClass}" 
                th:id="${#strings.toLowerCase(field)}"      	             
             >
            <div th:if="${type == 'checkbox'}">
                <div>
                    <input th:type="${type}" th:field="*{__${field}__}" th:classappend="${inputClassappend}" 
                      	   th:required="${__${required}__} ? 'required' : null"
                      	   th:placeholder="${#messages.msgOrNull('__${object}__.__${field}__.placeholder')}"
                    />
                    <label th:for="${#ids.prev(field)}">
                       <span th:text="#{'__${object}__.__${field}__.label'}"></span>
                    </label>
                </div>
                <div th:replace="~{:: fieldErrors(${object}, ${field})}" />
            </div>
            <div th:if="${type == 'select'}">
                <div>
                    <label >
                       <span th:text="#{'__${object}__.__${field}__.label'}"></span>
                    </label>
                   <select  th:field="*{__${field}__}"  class="form-control" >
                            <option value="">Selecione</option>
	                </select>     
	           
                </div>
                <div th:replace="~{:: fieldErrors(${object}, ${field})}" />
            </div>            
            <label class="form-label" th:if="${type != 'checkbox'}" th:for="${type == 'radio' ? '' : field}" >
				<span th:text="#{'__${object}__.__${field}__.label'}"></span>

            </label>
            <div th:if="${type != 'checkbox'}">
                <input class="form-control" th:if="${type == 'text' || type == 'password' || type == 'email' || type == 'tel' || type == 'number'}"
                        th:type="${type}" th:field="*{__${field}__}" th:classappend="${inputClassappend}" 
                         th:required="${__${required}__} ? 'required' : null"
                         th:placeholder="${#messages.msgOrNull('__${object}__.__${field}__.placeholder')}"
                        />
            </div>
        </div>

    </body>
</html>