<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="inputRow(object, field)" 
        	 th:with="type=${type} ?: 'text', required=${required},
                rowClass=${rowClass},
                 inputClassappend=${#fields.hasErrors(field) ? 'is-invalid ' : ''} + ${inputClass ?: ''}"
                th:object="${__${object}__}"   
                th:classappend="${rowClass}" 
                th:id="|div_${#strings.toLowerCase(field)}|"      	             
             >
            <div th:if="${type == 'checkbox'}">             
                    <input th:type="${type}" th:field="*{__${field}__}"  class="form-check-input" th:classappend="${inputClassappend}" 
                      	   th:required="${__${required}__} ? 'required' : null"
                      	   th:placeholder="${#messages.msgOrNull('__${object}__.__${field}__.placeholder')}"
                      	   th:id="${field}"      	 
                    />
                    <label>
                       <span th:text="#{'__${object}__.__${field}__.label'}"></span>
                    </label>
                <div class="invalid-feedback">
				    <ul>
       					 <li th:each="err : ${#fields.errors('*{__${field}__}')}" th:text="${err}" class="error" />
    				</ul>	
	            </div> 
            </div> 
            
            <div th:if="${type == 'select'}">				  
                    <label class="form-label">
                       <span th:text="#{'__${object}__.__${field}__.label'}"></span>
                    </label>
        			<select th:field="*{__${field}__}"  class="form-select"     
        					th:id="|input_${#strings.toLowerCase(field)}|"   
        					th:classappend="${inputClassappend}" 
        					th:required="${__${required}__} ? 'required' : null"
        			 		th:placeholder="${#messages.msgOrNull('__${object}__.__${field}__.placeholder')}"
        			 		th:disabled="*{__${field}__} != null and ${__${readOnly}__} ==  'readOnly'" >
        				<option value=0 selected hidden >- Selecione -</option>
					   		<option th:each="option : ${options}" th:value="${option.id}" th:text="${option.ajuda}"
					        		th:selected="${option.id}==*{__${field}__}">
					   </option> 				 
        			</select>   
        			<div class="invalid-feedback">
				    	<ul>
       						 <li th:each="err : ${#fields.errors('*{__${field}__}')}" th:text="${err}" class="error" />
    					</ul>	
	             	</div>  	                           
            </div>              
   			<div th:if="${type == 'moeda'}">
              	<label class="form-label">
                    <span th:text="#{'__${object}__.__${field}__.label'}"></span>
                </label>
                <input class="form-control moeda_input"  type="text" 
                      	th:id="|input_${#strings.toLowerCase(field)}|"      	                 
                		data-mask="#.##0,00" data-mask-reverse="true" 
                		style="text-align:right"                 		                	
						data-affixes-stay="true" data-prefix="R$ " data-thousands="." data-decimal=","
                        th:field="*{__${field}__}" th:classappend="${inputClassappend}" 
                        th:required="${__${required}__} ? 'required' : null"
                        th:placeholder="${#messages.msgOrNull('__${object}__.__${field}__.placeholder')}" />
            	<div class="invalid-feedback">
				    <ul>
       					 <li th:each="err : ${#fields.errors('*{__${field}__}')}" th:text="${err}" class="error" />
    				</ul>	
	             </div> 
            </div>            
        	<div th:if="${type == 'cep'}">
              	<label class="form-label">
                    <span th:text="#{'__${object}__.__${field}__.label'}"></span>
                </label>
                <input class="form-control cep_input"  type="text"
                   	   th:id="|input_${#strings.toLowerCase(field)}|"      	                  
                		data-mask="00000-000" data-mask-reverse="true" 
                		style="text-align:right" 
                		pattern="[0-9]+$"
                        th:field="*{__${field}__}" th:classappend="${inputClassappend}" 
                        th:required="${__${required}__} ? 'required' : null"
                        th:placeholder="${#messages.msgOrNull('__${object}__.__${field}__.placeholder')}" />
            	<div class="invalid-feedback">
				    <ul>
       					 <li th:each="err : ${#fields.errors('*{__${field}__}')}" th:text="${err}" class="error" />
    				</ul>	
	             </div> 
            </div>  
        	<div th:if="${type == 'cpf'}">
              	<label class="form-label">
                    <span th:text="#{'__${object}__.__${field}__.label'}"></span>
                </label>
                <input class="form-control cpf_input"  type="text"
                      	th:id="|input_${#strings.toLowerCase(field)}|"      	                  
                		data-mask="00000-000" data-mask-reverse="true" 
                		style="text-align:right" 
                		pattern="[0-9]+$"
                        th:field="*{__${field}__}" th:classappend="${inputClassappend}" 
                        th:required="${__${required}__} ? 'required' : null"
                        th:placeholder="${#messages.msgOrNull('__${object}__.__${field}__.placeholder')}" />
            	<div class="invalid-feedback">
				    <ul>
       					 <li th:each="err : ${#fields.errors('*{__${field}__}')}" th:text="${err}" class="error" />
    				</ul>	
	             </div> 
            </div>            
            <div th:if="${type == 'text' || type == 'password' || type == 'email' || type == 'tel' ||  type == 'number'}">
              	<label class="form-label">
                    <span th:text="#{'__${object}__.__${field}__.label'}"></span>
                </label>
                <input class="form-control" th:if="${type == 'text' || type == 'password' || type == 'email' || type == 'tel' || type == 'number'}"
                        th:type="${type}" th:field="*{__${field}__}" th:classappend="${inputClassappend}"
                   	   th:id="|input_${#strings.toLowerCase(field)}|"      	                          
                         th:required="${__${required}__} ? 'required' : null"
                         th:placeholder="${#messages.msgOrNull('__${object}__.__${field}__.placeholder')}"
                         th:readOnly="*{__${field}__} != null and ${__${readOnly}__} ==  'readOnly'" 
                        />
              	<div class="invalid-feedback">
				    <ul>
       					 <li th:each="err : ${#fields.errors('*{__${field}__}')}" th:text="${err}" class="error" />
    				</ul>	
	             </div>                        
            </div>
        </div>

    </body>
</html>