<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="inputRow(object, field)" th:with="type=${type} ?: 'text', required=${required},
                inputClassappend=${#fields.hasErrors(field) ? 'is-invalid ' : ''} + ${inputClass ?: ''}"
                th:object="${__${object}__}">
            <div th:if="${type == 'checkbox'}">
                <div>
                    <input th:type="${type}" th:field="*{__${field}__}" th:classappend="${inputClassappend}" />
                    <label th:for="${#ids.prev(field)}">
                        <span>[[#{__${object}__.__${field}__.label}]]</span>
                    </label>
                </div>
                <div th:replace="~{:: fieldErrors(${object}, ${field})}" />
            </div>
            <label th:if="${type != 'checkbox'}" th:for="${type == 'radio' ? '' : field}">
                <span>[[#{__${object}__.__${field}__.label}]]</span>
            </label>
            <div th:if="${type != 'checkbox'}">
                <input th:if="${type == 'text' || type == 'password' || type == 'email' || type == 'tel' || type == 'number'}"
                        th:type="${type}" th:field="*{__${field}__}" th:classappend="${inputClassappend}" />
                <!-- ... -->
            </div>
        </div>
        <!-- ... -->
    </body>
</html>