<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"></head>

<main id="main" class="main" layout:fragment="corpo">
   
   <section class="layout-content" >
	
	  
	  
	  <div th:insert="fragments/navbar :: navbar('automação',true)"></div>
	
		
     <div class="col-lg-6 bg-light">
		 <div class="card">
			 <div class="card-body">
				 <h5 class="card-title">Cadastro de automação</h5>
				
				<div th:replace="~{fragments/alert}"></div>
					 
				<form id="CadastroForm" th:object="${automacao}" th:action="@{/automacao}"  class="row g-3 needs-validation"   method="POST">
			   		<div th:replace="~{fragments/forms::inputRow(object='automacao', field='tipoOperacao', type='select',required='required',options= ${tipoOperacao},readOnly='readOnly',rowClass='col-md-12')}" />				   
	      			<div th:replace="~{fragments/forms::inputRow(object='automacao', field='ordem', required='true',rowClass='col-md-12')}" />
			   		<div th:replace="~{fragments/forms::inputRow(object='automacao', field='subCategoria', type='select',required='required',options= ${categoriasDTO},rowClass='col-md-12')}" />

			   		<div th:replace="~{fragments/forms::inputRow(object='automacao', field='favorecido', type='select',options=${favorecidos},rowClass='col-md-6')}" />
			   		<div th:replace="~{fragments/forms::inputRow(object='automacao', field='contaTransferencia', type='select',options= ${contas},rowClass='col-md-6')}" />
	      			<div>
	      				  	<label class="form-label">
                       			<span th:text="Criterios"></span>
                    		</label>
                    		<div class="input-group"> 
	      			 			<input class="form-control" type="text" id="criterioAdd" name="criterioAdd" placeholder="Informe o criterio ">
	      			 			
        						<button id="btnAddCriterio" class="btn btn-primary"><i class="fas fa-save"></i> Adciona criterio</button>
        					
    			    		</div>
    			    	 <span role="alert" id="nameError" aria-hidden="true">
    						Informe ao menos um criterio
  						</span>
	      			</div>	
       				
	      			<table id="criterioTable" class="table table-bordered table-striped table-hover ">
						<thead class="thead-light">	<div class="row">
								<tr>
									<th><i class="icon_profile"></i>Criterio</th>
									<th><i class="icon_cogs"></i>Ação</th>
								</tr>
						</thead>
						<tbody>
							<tr th:each="c : ${automacao.criterios}">
								<td th:text="${c}">criterio</td>
								<td colspan="2" align="center">
									 <a id="btn_editar"  title="Editar"	 
										    class="fa-regular fa-pen-to-square icon-dark" ></a>           
          						 	 <a id="btn_deletar"  title="Excluir"          										     
            								class="fa-regular fa-trash-can icon-dark btn-delete"></a>
        						 </td>								

								
							</tr>
						</tbody>		
					</table>
					<input type="hidden" id="criterio" th:field="*{criterio}"/>	
					<input type="hidden" id="id" th:field="*{id}"/>
	        		<input type="hidden" id="versao" th:field="*{versao}" />	
	         		<div class="text-center">	   		
	        			<button type="submit" id="btnSalvar" class="btn btn-primary"  >Salvar</button>
	       	    		<button onclick="history.go(-1);" class="btn btn-secondary">Voltar</button>
	        		</div>	  		
				</form>
	    
			</div>
		</div>
	</div>
  	<script th:src="@{/js/cadastro.js}"></script>
	<script th:src="@{/js/criterio.js}"></script>
 </section>
</main>
 
</html>
	 			               	
