<div class="modal-header">
	<h4 class="modal-title" id="modalTitilo">Excluir Favorecido</h4>
	<button type="button" class="btn-close" data-bs-dismiss="modal"
		aria-label="Close"></button>
</div>
<div class="modal-body">
         Você gostaria de excluir o registro?  
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="btnDeletar" class="btn btn-danger" th:href="@{/favorecido}" >Save changes</button>
</div>
