<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
  <link href="/webjar/bootstrap-theme.css" rel="stylesheet">  
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>


</body>
</html>